.footer-bottom
  .footer-bottom__content-zone
    p.footer-bottom__copyright Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-bottom__social-icons
      include ../../img/twitter.pug
      include ../../img/fb.pug
      include ../../img/instagram.pug



