.main__search-field
  form.search-field__form
    label.search-field__title Найдём номера под ваши пожелания
    p.search-field__text прибытие
      input(type="date" value="2020-08-22" min="2020-08-01" max="2030-12-31" novalidate).search-field__input
    p.search-field__text выезд
      input(type="date" value="2020-08-22" min="2020-08-01" max="2030-12-31" novalidate).search-field__input
    p.search-field__text гости
      select(type="number").search-field__input
        option(disabled) Взрослые
          option(type="number" novalidate) 1
        option(disabled) Дети
          option(type="number") 1
        option(disabled) Младенцы
          option(type="number" novalidate) 1
        //- p очистить
        //- p применить
    button(type="submit" novalidate).search-field__submit подобрать номер
      include ../../img/arrow_forward.pug

