@import "./__options-content-zone/search-result__options-content-zone.scss";
@import "./__options-form/search-result__options-form.scss";
@import "./__options-input/search-result__options-input.scss";
@import "./__options-checkbox/search-result__options-checkbox.scss";
@import "./__options-checkbox-label/search-result__options-checkbox-label.scss";

.search-result__options{
  width: 43%;
  display: flex;
  flex-direction: column;

}