@import "./__search-field/main__search-field.scss";
@import "./__description/main__description.scss";

.main{
  width: 100%;
  background-image: url(../../images/photo.png);
  background-position: center;
  background-size: cover;
}