extends ../../pug/layout/main.pug

block content
  .page.page_search
    include ../../pug/includes/header.pug
    include ../../pug/includes/search-result/search-result.pug
    include ../../pug/includes/footer/footer.pug