@import "../../mixins/montserrat-normal.scss";

.main__description{
  @include montserrat-normal;
  max-width: 297px;
  color: rgba(31, 32, 65, 0.75);
  text-align: end;
  margin: 320px 134px 18px auto;
}