.search-result__rooms
  .search-result__rooms-content-zone
    h2.search-result__rooms-title Номера, которые мы для вас подобрали
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов
      .search-result__rooms-card.room-card
        img(src="#").search-result__rooms-img.room-card-img
        .search-result__rooms-card-content.room-card__content
          p № 888
            span люкс
          p 9 990₽
            span в сутки
          .room-card__content-devision
          .room-card__stars
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
            include ../../img/star.pug
          p 145
            span Отзывов